body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vb;
    margin: 0;
}

.flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.calculator{
    flex-direction: column;
    min-height: 350px;
    max-height: 550px;
    height: 70%;
    min-width: 375px;
    max-width: 550px;
    width: 50%;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 25px;
}

.display{
    align-self: stretch;
    justify-content: end;
    padding: 20px;
    height: 10%;
    border: solid 3px orange;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.buttons{
    height: 80%;
    width: 100%;
}

.numbers, .operations{
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
    align-items:stretch;
    flex-wrap: wrap;
}

.numbers{
    width: 60%;
}

.operations{
    width: 40%;
    color: black;
}

.numbers>*, .operations>*{
    flex-grow: 1;
    border-radius: 20px;
    min-height: 20%;
    box-sizing: border-box;
}

div.numbers>*{
    background-color: gray;
    width: 30%;
}

div.operations > *{
    width: 40%;
    background-color: rgb(180, 180, 180);
}

div.equals{
    background-color: orange;
}

div.dot{
    width: 30%
}

div.zero{
    width: 64%;
}

div.clear, div.backspace{
    background-color: rgb(226, 223, 223);
}